.container {
    margin-top: 50px;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
form {
    text-align: center;
}
#btnSearch {
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(10, 131, 133);
    color: white;
   
}