.container {
  margin-top: 50px;
}
h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
h3 {
  text-align: center;
  margin-top: 20px;
}
form {
  text-align: center;
}
#btnSearch {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: rgb(5, 92, 5);
  color: white;
}
#cardMain {
  color: white;
  background-color: rgb(8, 106, 128);
}
#cardStyle {
  margin-top: 10px;
  padding: 4px;
  float: left;
  color: white;
  background-color: blue;
  margin: 5px;
  width: 9rem;
}
#searchStored {
  border-radius: 5px;
  color: white;
  background-color: blue;
}
