.container {
    margin-top: 50px;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
form {
    text-align: center;
}
#search {
    margin-top: 10px;
   
}